<div class="d-flex">
  <aside class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
    <h5>Menu</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link text-white">Dashboard</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard/produits']" routerLinkActive="active" class="nav-link text-white">Produits</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard/addproduit']" routerLinkActive="active" class="nav-link text-white">Ajouter Produit</a>
      </li>
    </ul>
  </aside>

  <main class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </main>
</div>
